# Node.js
node_modules/
dist/
.env
*.log
k8s/secrets.yaml

# TypeScript
*.tsbuildinfo

# IDEs and OS
.DS_Store
.idea/
.vscode/
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
google-space-jsm-webhook-poc.iml

# Logs
npm-debug.log*
yarn